h5{
    color: rgba(119, 8, 141, 0.842);
    font-family: 'Lucida Sans';
    font-size: 40px;
}

h6{
    color: red;
    font-family: 'Charmonman', cursive;
    font-size: 14px;
}

.jumbotron{
    background-image: url(Kellogg.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 1000px;
}